{% extends 'base.html.twig' %}

{% block title %}
Entreprises
{% endblock %}

{% block contenu %}
<h3 class="titreSection">Entreprises</h3>
<div class="row">
    {% for entrepriseCourante in entreprises %}
    <div class="col-md-3">
        <div class="carteEntreprise">
            <h4 class="nomEntreprise">
                {{entrepriseCourante.nom}}
            </h4>
            <h5 class="activiteEntreprise">
                Activité : {{entrepriseCourante.activite}}
            </h5>
            <div class="adresseEntreprise">
                {{entrepriseCourante.adresse}}
            </div>
            <a class="siteEntreprise" href="#">
                {{entrepriseCourante.URLsite}}
            </a>
            <br>
            <br>
            <a class="boutonCarteEntreprise" href="{{path('prostages_stagesParEntreprise',{id:entrepriseCourante.id})}}">Découvrir les stages</a>
            <br>
            <br>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('prostages_modifierEntreprise',{id:entrepriseCourante.id})}}">Modifier l'entreprise</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% if is_granted('ROLE_ADMIN') %}
<a href="{{path('prostages_ajouterEntreprise')}}" >Ajouter une entreprise</a>
{% endif %}
{% endblock %}