<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Prostages | {% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="stylesheet" href="../../css.css">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    <body>
        <div class="container-fluid">
            {% block header %}
            <!--HEADER-->
            <div class="row">
                <div class="col-md-12 menu">
                        <h1 class="titrePrincipal">
                            ProStages                 
                        </h1>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Stages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/entreprises">Entreprises</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/formations">Formations</a>
                        </li>
                    </ul>

                    {% if is_granted('ROLE_USER') %}
                    <a class="connect-disconnect-navlink" href="{{ path('app_logout') }}" >Se déconnecter</a>
                    <div class="current-user-username">Connecté en tant que : {{ app.user.username }}</div>
                    {% else %}
                    <a class="connect-disconnect-navlink" href="{{ path('app_login') }}" >Se connecter</a>
                    <a class="connect-disconnect-navlink" href="{{ path('app_ajouterNouvelUtilisateur') }}" >S'inscrire</a>

                    {% endif %}
                </div>
            </div>
            {% endblock %}

            <div class="row">
                <div class="col-md-12 sectionContenu">
                    {% block contenu %}

                    {% endblock %}
                </div>
            </div>

            {% block footer %}
            <div class="row">
                <div class="col-md-12 footer">
                    <h5> Timoteo Couture</h5>

                </div>
            </div>
            {% endblock %}
        </div>
    </body>
</html>
